<div class="wrapper">
    <div class="section-background"></div>
    <div
        class="section-info"
        [class.hovered]="isMouseOver"
        (dblclick)="onEventDispatcher($event, 5)">
        <fa-icon
            [icon]="faTimes"
            (click)="onEventDispatcher($event, 0)"></fa-icon>
        <label class="fc-holder fc-holder-lg si-holder-filter">
            <fc-input [props]="inputProps"></fc-input>
        </label>
        <div class="si-content">
            dummy text
        </div>
    </div>
    <div class="section-charts"></div>
</div>
